* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Hind", sans-serif;
  line-height: 1.5;
  /* background: /* blue */
}
/* Start header */
header {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  z-index: 100;
  transform: translateX(-50%);
}
header .navbar-brand {
  font-size: 36px;
  color: #fff;
}
header .navbar-brand i {
  font-size: 45px;
  color: #35a22c;
}
header a {
  color: white;
}

header .navbar .nav-item.active a {
  color: #35a22c;
  margin-right: 10px;
}
header .navbar .nav-item a {
  position: relative;
  margin-right: 10px;
}
header .navbar .nav-item a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #35a22c;
  transition: 0.3s;
}
header .navbar .nav-item a:hover {
  color: #35a22c;
}
header .navbar .nav-item a:hover::before,
header .navbar .nav-item a:hover::before {
  width: 100%;
}
header .navbar-toggler {
  background-color: #35a22c;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler-icon {
  color: white;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: 50%/100% 100% no-repeat;
}
/* End header */
/* start carousel */
.carousel .carousel-item {
  height: 100vh;
  min-height: 500px;
}
.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.carousel-caption h5 {
  font-size: 56px;
  line-height: 65px;
}
.carousel-caption p {
  font-size: 24px;
}
.carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
.carousel-item {
  position: relative;
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 49, 54, 0.5);
}
.carousel-item:nth-child(1){
  background-image: url(./portfolio-img/image/finland.jpg);

}
.carousel-item:nth-child(2){
  background-image: url(./portfolio-img/image/mountains.jpg);
}
.carousel-item:nth-child(3){
  background-image: url(./portfolio-img/image/mountains-1.jpg);
}
.carousel-indicators .active {
  background-color: #35a22c;
}
.carousel-indicators {
  bottom: 50px;
}

/* end carousel */
/* start projects */
.projects__title h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}
.projects__title p {
  color: #585858;
  line-height: 24px;
}
.projects .nav-pills .nav-link.active,
.projects .nav-pills .show > .nav-link {
  background-color: #35a22c;
  color: #fff;
  border-color: #35a22c;
}
.col-12,
.col-sm-6,
.col-lg-4 {
  padding-right: 15px;
  padding-left: 15px;
}

.projects__item {
  margin-top: 30px;
  border-radius: 1.25rem;
  overflow: hidden;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s;
}
.projects__item:hover {
  color: #35a22c;
  border-color: #35a22c;
}
.rpojects__lists .nav .nav-tabs {
  justify-content: center;
  border-bottom: none;
}
/* end projects */
/* start feature */
.features {
  background: url(./portfolio-img/image/3.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0 120px;
  background-attachment: fixed;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.features .overlay {
  background: rgba(7, 10, 12, 0.72);
}

.heading h2 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
}
.text-white {
  color: #fff !important;
}
.heading p {
  line-height: 24px;
}
.features__content .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.features__item {
  padding: 40px 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba (255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all, 0.5s;
  text-align: center;
}
.features__item:hover {
  background: #000;
  border-color: #fff;
}
.features__item i {
  font-size: 48px;
  color: #35a22c;
}
.fa {
  font-weight: 900;
}
.features__item h4 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
}
.features__item p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
/* end feature */
/* start award */
.award {
  position: relative;
  color: #585858;
  padding: 70px 0;
}
.award__bg {
  background-image: url(./portfolio-img/image/memphis_3.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.award .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
section {
  display: block;
}
.award__left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px;
}
.heading h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}
.heading p {
  color: #585858;
  line-height: 24px;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
/* end award */
/* start footer */
footer {
  background: #222;
  display: block;
  padding-top: 40px;
}
.footer__icon a {
  margin-right: 10px;
}
.footer__icon i {
  color: white;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all 0.5s;
}
.fab {
  font-weight: 400;
}
.footer__copy {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}
.footer__copy p {
  color: #aaa;
  margin: 0;
}
/* end footer */
/* START RESPONSIVE */
/* RESPONSIVE HEADER */
@media screen and (max-width: 991.98px) {
  header .navbar-collapse {
    background-color: #fff;
  }
  .nav-item {
    margin: 0;
    padding: 0 10px;
  }
  .nav-item:hover {
    background-color: #35a22c;
  }
  .nav-item .nav-link {
    color: #35a22c;
  }
  .nav-item:hover .nav-link {
    color: #fff;
  }
  .nav-item.active::after,
  .nav-item:hover::after {
    width: 0;
  }
}

@media screen and (max-width: 376px) {
  header .navbar-brand i {
    font-size: 8vh;
  }
  header .navbar-brand {
    font-size: 7vh;
  }
}
/* RESPONSIVE CAROUSEL */
@media screen and (max-height: 415px) {
  .carousel-caption img {
    width: 100px;
  }
  .carousel .carousel-caption h5 {
    font-size: 5vw;
    line-height: 5vw;
  }
  .carousel .carousel-caption p {
    font-size: 3vw;
  }
  .carousel-caption {
    padding-top: 0;
  }
}
@media screen and (max-width: 320px) {
  .carousel-caption img {
    width: 120px;
  }
  .carousel .carousel-caption h5 {
    font-size: 10vw;
    line-height: 10vw;
  }
  .carousel .carousel-caption p {
    font-size: 5vw;
  }
  .carousel-caption {
    padding-top: 0;
  }
}
/* RESPONSIVE PROJECT */
@media screen and (max-width: 575.98px) {
  .rpojects__lists .nav .nav-link {
    padding: 0.5rem;
  }
  .carousel-item .overlay {
    background-position: right top;
  }
}
@media screen and (max-width: 415px) {
  .projects__item .nav .nav-item {
    margin-bottom: 1rem;
  }
}
/* RESPONSIVE AWARD */
@media screen and (max-width: 575.98px){
  .award__bg{
    background-size: cover;
  }
}
  

/* END RESPONSIVE */
